<div class="container">
    <div class="offset-xs-2 col-xs-10 offset-md-1 col-md-11 offset-lg-1 col-lg-10">
        <br/>
        <div>
            <h4>Homepage/About Powerside</h4>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <br/>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidat.
            </p>
        </div>
        <br/>
        <div>
            <h5>Contact Powerside:</h5>
            <p>
                Email: support-PQservices@powerside.com<br/>
                Phone: +1-510-522-4400</p>
        </div>
        <br/>
        <br/>
    </div>
</div>